<!DOCTYPE html>
<html>
  <head>
    <title>TipTapRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', "data-turbo-track": "reload" %>
    <%= vite_javascript_tag 'application', "data-turbo-track": "reload" %>
    <link href="https://cdn.skypack.dev/prismjs/themes/prism.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/shoelace-autoloader.js"></script>

    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
