<div class="syntax-block">
  <div class="syntax-block__actions">
    <div class="syntax-block__badge">
      <%= filename_or_language %>
    </div>

    <clipboard-copy
      for="<%= id %>"
      class="button clipboard clipboard--idle syntax-block__clipboard"
      aria-label="Copy to clipboard"
      data-controller="clipboard"
    >
      <sl-icon class="clipboard__icon--success" name="clipboard-check"></sl-icon>
      <sl-icon class="clipboard__icon--idle" name="clipboard"></sl-icon>
    </clipboard-copy>

    <script type="text/plain" id="<%= id %>" hidden><%= content %></script>

  </div>
  <%= markdownify("```#{language}" + content + "```") %>
</div>

